@CHARSET "UTF-8";
    .header{
        color: rgb(131, 72, 0);
        width: 100%;
        font-size: 36px;
        text-align: center;
        }
    .admin{
        font-size: 36px;
        color: coral;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%); 
        }
     .logo{
        width: 200px;
        position: absolute;
        left: 35%;
        top: 5%;

        }
    .title{
        width: 200px;
        position: absolute;
        left: 50%;
        top: 15%;

        }
        
	 .footer1{
		position: absolute;
		bottom: -10%;
		left:10%;
		right:10%;
		background-color:lightgray;
		}     